/* masonry base */
.my-masonry-grid {
  display: flex;
  margin-left: -16px; /* gutter size offset */
  width: auto;
}

/* masonry columns */
.my-masonry-grid_column {
  padding-left: 16px; /* gutter size */
  background-clip: padding-box;
}

/* cards inside each column */
.my-masonry-grid_column > div {
  margin-bottom: 16px;
}
